body {
    background-image: url("back.gif");
    background-color: #276baf;
    height: 1420px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.title {
    position: absolute;
    top: 0%;
    right: 0%;
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: center;
}

.logo {
    height: 250%;
}

.graphs {
    position: absolute;
    top: 20%;
    right: 0%;
    width: 100%;
    height: 75%;
}

.gT {
    position: absolute;
    top: 0%;
    right: 76%;
    width: 24%;
    height: 45%;
}

.gL {
    position: absolute;
    top: 0%;
    right: 51%;
    width: 24%;
    height: 45%;
}

.gS {
    position: absolute;
    top: 0%;
    right: 25%;
    width: 24%;
    height: 45%;
}

.gD {
    position: absolute;
    top: 0%;
    right: 0%;
    width: 24%;
    height: 45%;
}

.gA {
    position: absolute;
    top: 50%;
    right: 68%;
    width: 32%;
    height: 50%;
}

.gP {
    position: absolute;
    top: 50%;
    right: 34%;
    width: 32%;
    height: 50%;
}

.gO {
    position: absolute;
    top: 50%;
    right: 0%;
    width: 32%;
    height: 50%;
}