body {
    /* background-color: #b1bfd8;
    background-image: linear-gradient(315deg, #b1bfd8 0%, #6782b4 74%); */
   background-image: url("back.gif"); /* The image used */
   background-color: #cccccc; /* Used if the image is unavailable */
   height: 500px; /* You must set a specified height */
   background-position: center; /* Center the image */
   background-repeat: no-repeat; /* Do not repeat the image */
   background-size: cover
  }
  .title{
    position: absolute;
    top: 0%;
    right: 0%;
    width: 60%;
    height: 10%;
    /* background-color: red; */
  }
  .graphs{
    position: absolute;
    top: 10%;
    right: 0%;
    width: 100%;
    height: 80%;
    /* background-color: blue; */
  }
  .gT{
    position: absolute;
    top: 0%;
    right: 70%;
    width: 30%;
    height: 45%;
    /* background-color: red; */
  }
  .gL{
    position: absolute;
    top: 0%;
    right: 35%;
    width: 30%;
    height: 45%;
    /* background-color: red; */
  }
  .gS{
    position: absolute;
    top: 0%;
    right: 0%;
    width: 30%;
    height: 45%;
    /* background-color: red; */
  }
  .gD{
    position: absolute;
    top: 50%;
    right: 80%;
    width: 30%;
    height: 45%;
    /* background-color: red; */
  }
  .gP{
    position: absolute;
    top: 50%;
    right: 50%;
    width: 30%;
    height: 45%;
    /* background-color: red; */
  }
  .bimg{
    position: absolute;
    width: 100%;
    height: 100%;
  }